#wrap{
    float: right;
    width: 82px;
    margin-top: 7px;
}
#wrap.show{
    display:block;
}
#wrap .cover{
    display:inline-block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    cursor: pointer;
    background-image: url(../img/index.png);
    background-repeat: no-repeat;
}
#first{
    background-position: -267px -268px;
}
#wrap #second{
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    background-position: 1px -698px;
}
#third{
    background-position: -297px -268px;
}
#first:hover{
    background-position: -267px -288px;
}
#wrap #second:hover{
    background-position: -21px -698px;
}
#third:hover{
    background-position:-297px -288px;
}